name: deploy
on: 
  push:
    branches: [main,master]
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      pages: write
      contents: write
      id-token: write
    steps:
    -  uses: actions/checkout@v4
    -  uses: peaceiris/actions-gh-pages@v3
       with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         publish_dir:  .
    
    
